# Node (frontend)
node_modules/
dist/
.vite/
.env
.env.local

# ASP.NET Core (backend)
**/bin/
**/obj/
*.db
*.db-shm
*.db-wal
appsettings.Development.json
appsettings.*.json

# OS/Editor
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
